@use "all.scss" as m;

.images {
  max-width: m.$globalMaxWidth;
  width: 100%;
  padding: 3em;
  display: grid;
  gap: 3em;
}

.verticalCon {
  max-width: m.$globalMaxWidth;
  gap: 1em;
  justify-content: center;
  align-items: center;
  display: flex;
  .text { text-align:justify right; }
}

.images .verticalCon:nth-child(even) {
  flex-direction: row-reverse;
  .text {text-align: right;}
}